<html>
<head>
    <title>Create New Room</title>
</head>
<body>
    <h1>Create a New Room</h1>
    <form action="/create_room" method="POST">
        <p>Room Number: <input name="room_number" type="number" required /></p>
        <p>Room Type: <input list="room_types" name="room_type" id="room_type" required>
        <datalist id="room_types">
            <option value="Single">
            <option value="Twin">
            <option value="Double">
            <option value="Triple">
        </datalist>
        <p>Status: <input list="status_list" name="status" id="status" required>
        <datalist id="status_list">
            <option value="Available">
            <option value="Unavailable">
        </datalist>
        <button type="submit">Create</button>
    </form>
    <br>
    <a href="/room_list">Back to Room List</a>
</body>
</html>
