<html>
<head>
    <title>List of rooms</title>
</head>
<body>
    <h1>List of rooms</h1>
    <table border="1">
        <tr>
            <th>Number</th>
            <th>Type</th>
            <th>Price</th>
            <th>Status</th>
        </tr>
        {% for room in rooms %}
        <tr>
            <td>{{ room['room_number'] }}</td>
            <td>{{ room['room_type'] }}</td>
            <td>{{ room['price'] }}</td>
            <td>{{ room['status'] }}</td>
            <td>
                <a href="/delete_room/{{ room['id'] }}">Delete</a> |
                <a href="/update_room/{{ room['id'] }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/create_room">Add New Room</a>
</body>
</html>